@layout('layouts/main')
@section('content')
	<form action="/quote" method="post">
	<div>
	<label for="title">author</label>
	<input id="title" name="title" class="form-control" type="text">
	</div>
	<div class="">
	<label for="content">content</label>
	<textarea id="content" name="content" class="form-control">
	
	</textarea>
	</div><br>
	<button type="submit" class="btn btn-primary">sauvegarder</button>
	</form>
@endsection